/bin/BannerlordModule/.vs/BannerlordModule/v15/.suo
/bin/BannerlordModule/.vs/BannerlordModule/v15/Server/sqlite3/db.lock
/bin/BannerlordModule/.vs/BannerlordModule/v15/Server/sqlite3/storage.ide
/bin/BannerlordModule/.vs/BannerlordModule/v15/Server/sqlite3/storage.ide-shm
/bin/BannerlordModule/.vs/BannerlordModule/v15/Server/sqlite3/storage.ide-wal
/bin/BannerlordModule/BannerlordModule/BannerlordModule.csproj
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.csproj.CopyComplete
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.csproj.CoreCompileInputs.cache
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.csproj.FileListAbsolute.txt
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.csprojAssemblyReference.cache
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.dll
/bin/BannerlordModule/BannerlordModule/obj/Debug/BannerlordModule.pdb
/bin/BannerlordModule/BannerlordModule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/BannerlordModule/BannerlordModule/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/bin/BannerlordModule/BannerlordModule/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/bin/BannerlordModule/BannerlordModule/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/bin/BannerlordModule/BannerlordModule/Properties/AssemblyInfo.cs
/bin/Win64_Shipping_Client/EOSSDK-CSharp.dll
/bin/Win64_Shipping_Client/Newtonsoft.Json.dll
/bin/Win64_Shipping_Client/Steamworks.NET.dll
/bin/Win64_Shipping_Client/System.Management.dll
/bin/Win64_Shipping_Client/System.Numerics.Vectors.dll
/bin/Win64_Shipping_Client/TaleWorlds.BattlEye.Client.dll
/bin/Win64_Shipping_Client/TaleWorlds.CampaignSystem.dll
/bin/Win64_Shipping_Client/TaleWorlds.CampaignSystem.ViewModelCollection.dll
/bin/Win64_Shipping_Client/TaleWorlds.Core.dll
/bin/Win64_Shipping_Client/TaleWorlds.Core.ViewModelCollection.dll
/bin/Win64_Shipping_Client/TaleWorlds.Diamond.AccessProvider.Epic.dll
/bin/Win64_Shipping_Client/TaleWorlds.Diamond.AccessProvider.Steam.dll
/bin/Win64_Shipping_Client/TaleWorlds.Diamond.AccessProvider.Test.dll
/bin/Win64_Shipping_Client/TaleWorlds.Diamond.dll
/bin/Win64_Shipping_Client/TaleWorlds.DotNet.AutoGenerated.dll
/bin/Win64_Shipping_Client/TaleWorlds.DotNet.dll
/bin/Win64_Shipping_Client/TaleWorlds.Engine.AutoGenerated.dll
/bin/Win64_Shipping_Client/TaleWorlds.Engine.dll
/bin/Win64_Shipping_Client/TaleWorlds.Engine.GauntletUI.dll
/bin/Win64_Shipping_Client/TaleWorlds.GauntletUI.Data.dll
/bin/Win64_Shipping_Client/TaleWorlds.GauntletUI.dll
/bin/Win64_Shipping_Client/TaleWorlds.GauntletUI.ExtraWidgets.dll
/bin/Win64_Shipping_Client/TaleWorlds.GauntletUI.PrefabSystem.dll
/bin/Win64_Shipping_Client/TaleWorlds.GauntletUI.TooltipExtensions.dll
/bin/Win64_Shipping_Client/TaleWorlds.InputSystem.dll
/bin/Win64_Shipping_Client/TaleWorlds.Library.dll
/bin/Win64_Shipping_Client/TaleWorlds.Localization.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.AutoGenerated.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.CustomBattle.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.Diamond.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.GauntletUI.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.GauntletUI.Widgets.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.Helpers.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.Launcher.exe
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.View.dll
/bin/Win64_Shipping_Client/TaleWorlds.MountAndBlade.ViewModelCollection.dll
/bin/Win64_Shipping_Client/TaleWorlds.NavigationSystem.dll
/bin/Win64_Shipping_Client/TaleWorlds.Network.dll
/bin/Win64_Shipping_Client/TaleWorlds.PlatformService.dll
/bin/Win64_Shipping_Client/TaleWorlds.PlatformService.Epic.dll
/bin/Win64_Shipping_Client/TaleWorlds.PlatformService.Steam.dll
/bin/Win64_Shipping_Client/TaleWorlds.PlayerServices.dll
/bin/Win64_Shipping_Client/TaleWorlds.PSAI.dll
/bin/Win64_Shipping_Client/TaleWorlds.SaveSystem.dll
/bin/Win64_Shipping_Client/TaleWorlds.Starter.DotNetCore.dll
/bin/Win64_Shipping_Client/TaleWorlds.Starter.Library.dll
/bin/Win64_Shipping_Client/TaleWorlds.TwoDimension.dll
/bin/Win64_Shipping_Client/TaleWorlds.TwoDimension.Standalone.dll